<div id="<%= dom_id option %>">
  <p>
    <strong>Stock price:</strong>
    <%= option.stock_price %>
  </p>

  <p>
    <strong>Strike price:</strong>
    <%= option.strike_price %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= option.expiry_date %>
  </p>

  <p>
    <strong>Risk free rate:</strong>
    <%= option.risk_free_rate %>
  </p>

  <p>
    <strong>Volatility:</strong>
    <%= option.volatility %>
  </p>

  <p>
    <strong>Option type:</strong>
    <%= option.option_type %>
  </p>

</div>
